*, *::before, *::after {
    box-sizing: border-box;
}

*{
    margin: 0
    padding: 0;
}

img, picture, svg, video {
    display:block;
    max-width: 100%
} 

html{
    color-scheme: dark light;
}

body{
    min-height: 100vh;
}

input, textarea, button, select {
    font: inherit
}